* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f8f4f5fb;
    list-style: none;
    font-family: sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(5, 5, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container::before {
    content: '';
    position: absolute;
    height: 330px;
    width: 330px;
    border-radius: 50%;
    background: linear-gradient(#eb3c06, #0d99c4);
    transform: translate(-490px, -150px);
}

.container::after {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(#1202f3, #c900f1);
    transform: translate(490px,170px);
}

.container .ball-1,
.container .ball-2,
.container .ball-3 {
    position: absolute;
    border-radius: 50%;
}

.container .ball-1 {
    height: 30px;
    width: 30px;
    background: #eb3c06;
    transform: translate(-250px,200px);
}

.container .ball-2 {
    height: 70px;
    width: 70px;
    background: #1202f3;
    transform: translate(-10px,-220px);
}

.container .ball-3 {
    height: 50px;
    width: 50px;
    background: #0d99c4;
    transform: translate(150px,250px);
}

.container .box {
    height: auto;
    width: 90%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(0, 255, 255);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10,10,10,0.25);
    overflow-y: auto;
    max-height: 90vh;
}

.container .header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 20;
}

.title {
    position: absolute;
    top: 30px;
    left: 20px;

}

.container .title .text {
    color: rgba(255, 255, 0, 1);
    font-size: medium;
    font-weight: bold;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.chapter-1 {
    margin-top: 80px;
    padding: 20px;
}

.container .box .chapter-1 h1 {
    font-size: 40px;
    color: #1523dd;
    margin-bottom: 20px;
}

.container .box .chapter-1 h3 {
    font-size: 24px;
    color: #b42c0a;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container .box .chapter-1 h4 {
    font-size: 20px;
    color: #b42c0a;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container .box .chapter-1 p {
    color: #d60606;
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
}

.container .box .chapter-1 table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.container .box .chapter-1 table th,
.container .box .chapter-1 table td {
    border: 1px solid rgba(233, 236, 4, 0.562);
    padding: 10px;
    text-align: left;
}

.container .box .chapter-1 table th {
    background-color: rgba(60, 236, 6, 0.247);
    color: #030000fd;
}

ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 0 5px;
    padding: 10px 20px;
    position: relative;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 0;
    background: #f03304;
    z-index: -1;
    box-shadow: 0 0 10px #dc2f02,
                0 0 20px #dc2f02,
                0 0 40px #dc2f02,
                0 0 80px #dc2f02,
                0 0 100px #dc2f02;
    transition: 0.25s;
}

ul li a:hover::before {
    width: 100%;
}

ul li {
    display: inline-block;
    margin: 10px 0;
}